# The ansible that's expected in our AWX installation.
# Run the playbook with this and there's more chance it'll work
# when run from within our AWX instance.
ansible == 2.9.26
kubernetes == 19.15.0
openshift == 0.13.1
