---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: fragnet-search
  namespace: {{ fs_namespace }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: fragnet-search
  template:
    metadata:
      labels:
        name: fragnet-search
    spec:
      serviceAccountName: {{ fs_sa }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ fs_node_purpose }}

      containers:
      - name: fragnet-search
        image: {{ fs_image_registry }}/{{ fs_image_repository }}/{{ fs_image_name }}:{{ fs_image_tag }}
{% if fs_image_tag == 'latest' %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: NEO4J_SERVER
          value: '{{ graph_service }}.{{ graph_namespace }}.svc'
        - name: NEO4J_USER
          value: {{ graph_user_fact }}
        - name: NEO4J_PASSWORD
          value: {{ graph_password_fact }}
        - name: LOG_ROOT
          value: /logs
        resources:
          limits:
            cpu: 4000m
            memory: 8Gi
          requests:
            cpu: 1000m
            memory: 4Gi
        volumeMounts:
        - mountPath: /usr/local/tomcat/webapps/fragnet-search/META-INF/context.xml
          name: fs-config-map-search
          subPath: context.xml
          readOnly: true
        - mountPath: /usr/local/tomcat/webapps/fragnet-search/WEB-INF/keycloak.json
          name: fs-config-map-search
          subPath: keycloak.json
          readOnly: true
        - mountPath: /usr/local/tomcat/conf/logging.properties
          name: fs-config-map-search
          subPath: logging.properties
        - mountPath: /usr/local/tomcat/webapps/fragnet-search/WEB-INF/web.xml
          name: fs-config-map-search
          subPath: web.xml
          readOnly: true
        - mountPath: /usr/local/tomcat/conf/server.xml
          name: fs-config-map-search
          subPath: server.xml
        - mountPath: /usr/local/tomcat/webapps/ROOT/config.json
          name: fs-config-map-ui
          subPath: config.json
        - mountPath: /usr/local/tomcat/webapps/ROOT/keycloak.json
          name: fs-config-map-ui
          subPath: keycloak.json
      volumes:
      - name: fs-config-map-search
        configMap:
          name: fs-config-map-search
      - name: fs-config-map-ui
        configMap:
          name: fs-config-map-ui
      imagePullSecrets:
      - name: ui-pull-secret
