---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: fragnet
  namespace: {{ fs_namespace }}
  annotations:
    ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ fs_cert_issuer|lower }}"
spec:
  tls:
  - hosts:
    - {{ fs_hostname }}
    secretName: fragnet-tls
  rules:
  - host: {{ fs_hostname }}
    http:
      paths:
      - path: /
        backend:
          serviceName: fragnet
          servicePort: http
