---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: fs-psp-unrestricted
  namespace: "{{ fs_namespace }}"
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs: ['use']
  resourceNames: ['{{ fs_sa_psp }}']
