---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: fs-sa
  namespace: "{{ fs_namespace }}"
roleRef:
  kind: Role
  name: im-core-unrestricted
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: "{{ fs_sa }}"
  namespace: "{{ fs_namespace }}"
