---
kind: Route
apiVersion: v1
metadata:
  name: fragnet-search
  namespace: {{ fs_namespace }}
  annotations:
    kubernetes.io/tls-acme: "{{ fs_enable_acme|ternary('True', 'False') }}"
spec:
  host: {{ fs_hostname }}
  to:
    kind: Service
    name: fragnet-search
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
