---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ui
  namespace: {{ fs_namespace }}
data:

  config.json: |
    {
      "DATA_MANAGER_API_SERVER": "https://{{ fs_location['api'].hostname }}{{ fs_location['api'].path }}",
      "FRAGNET_DEPICT_SERVER": "https://{{ fs_location['depict'].hostname }}{{ fs_location['depict'].path }}",
      "FRAGNET_SEARCH_SERVER": "https://{{ fs_location['search'].hostname }}{{ fs_location['search'].path }}",
      "GANALYTICS_ID": "{{ fs_ui_google_analytics_id }}"
    }

  keycloak.json: |
    {
      "realm": "{{ fs_realm }}",
      "auth-server-url": "{{ keycloak_server_url }}/",
      "ssl-required": "external",
      "resource": "{{ fs_keycloak_client_id }}",
      "public-client": true,
      "confidential-port": 0
    }
