---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: fragnet
  namespace: {{ fs_namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ fs_cert_issuer|lower }}"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($request_uri ~ "^/{{ fs_location[fs_flavour].path|string|basename }}(/.*)") {
        proxy_pass http://upstream_balancer$1;
        break;
      }
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ fs_ingress_nginx_proxy_body_size }}"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
    # For a full set of nginx annotations see...
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
spec:
  tls:
  - hosts:
    - {{ fs_location[fs_flavour].hostname }}
    secretName: fragnet-tls
  rules:
  - host: {{ fs_location[fs_flavour].hostname }}
    http:
      paths:
      - path: /{{ fs_location[fs_flavour].path|string|basename }}
        backend:
          serviceName: fragnet
          servicePort: http
