---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: fragnet
  namespace: {{ fs_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ fs_cert_issuer|lower }}"
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/cors-allow-origin: "https://{{ fs_cors_allow_origin }}"
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ fs_ingress_nginx_proxy_body_size }}"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    # For a full set of nginx annotations see...
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
spec:
  tls:
  - hosts:
    - {{ fs_location[fs_flavour].hostname }}
    secretName: fragnet-tls
  rules:
  - host: {{ fs_location[fs_flavour].hostname }}
    http:
      paths:
      - path: /{{ fs_location[fs_flavour].path|string|basename }}(/|$)(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: fragnet
            port:
              name: http
