---

# Un-deploy (uninstall) Fragnet Search.
#
# To un-deploy Fragnet Search, the fastest way is to
# simply delete the namespace.

- name: Delete namespace
  k8s:
    state: absent
    definition: "{{ lookup('template', 'namespace.yaml.j2') }}"
    wait: yes
